/files/all_structures/
/files/SKEMPI2_PDBs/
/files/abdb_newdata_20240706/
/data/sabdab_summary_all.sqlite
/files/sabdab_summary_all.tsv
/files/skempi_v2.csv
/data/
/research/
/files/
/data/
/venv/
/src/
ReceptorsDB.db
/test/
